<!DOCTYPE html>
%html
%head
	= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
	= stylesheet_link_tag 'mfglabs_iconset.css'
	= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css'
	= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Cedarville+Cursive'

	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	= csrf_meta_tags
	%title truluv'in

%body.bk
	%div.header
		%h1.text-center
			truluv'in
	%div.footer
		%a{href: 'https://twitter.com/luoser', target: '_blank'}
			%i.icon-twitter_circle.icon2x
		%a{href: 'https://github.com/luoser', target: '_blank'}
			%i.icon-git_circle.icon2x

	%div.container
		= yield

