<!DOCTYPE html>
%html
%head
	= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
	= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css'
	= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Cedarville+Cursive'

	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	= csrf_meta_tags

	:javascript
		$(function() {
			$('.toggle-nav').click(function() {
				if ($('#site-wrapper').hasClass('show-nav')) {
					$('#site-wrapper').removeClass('show-nav');
		    } 
		    else {
		    	$('#site-wrapper').addClass('show-nav');
		    }
			})
		})

	%title truluv'in

%body.bk
	
	/ Slidey menu!
	#site-wrapper
		#site-canvas
			#site-menu
				%h2 Categories
				
				%h2 Trait Cloud

			
	.header
		.menu-toggle
			%a.toggle-nav.fa.fa-heart.icon2x.red-icon
		%h1.text-center
			truluv'in			



	.footer
		%a{href: 'https://twitter.com/luoser', target: '_blank'}
			%i.fa.fa-twitter-square.icon2x.twitter-icon
		%a{href: 'https://github.com/luoser', target: '_blank'}
			%i.fa.fa-github-square.icon2x.github-icon

	.container
		= yield

